body{
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/56/67/64/1000_F_456676487_hxVXkmNPwLMK9oba0T2sncyaMenghLi5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #cccccc;
    font-family: "Times New Roman", Times, serif;
}
.close{
    color: white;
    font-size: 15px;
    font-weight: bold;
    box-shadow: rgb(106, 28, 28);
    border-radius: 5px;
    background-color: #3c40ad;
    border: 2px solid #801212;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: "Times New Roman", Times, serif;
}
a{
    color: white;
    font-family: "Times New Roman", Times, serif;
}

/*signup page-------------------------------------------------------------------*/
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(109, 177, 201);
    color: #fff;
    border: 8px solid #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: #4dff00;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    background-color: #00bfff;
}

.message,
.signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.form label {
    position: relative;
}

.form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 15px 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease; /* Smooth border color transition */
}

.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    color: #00bfff;
    top: 2px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background-color: #00bfff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #00bfff96;
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/* Responsive Styles for Smaller Screens */
@media only screen and (max-width: 600px) {
    .form {
        width: 90%;
    }
}

/* Responsive Styles for Bigger Screens */
@media only screen and (min-width: 601px) {
    .form {
        width: 60%;
    }
}